/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02/11/2018, 15:28:20
    Author     : Leona
*/
html{
    /*overflow-x: hidden;*/
    font-family: monospace;
}

#botao{
    margin: 10px 0;
}

th{
    background-color: #e6e6e6;
}

#cabecalho{
    background-color: #f2f2f2;
    margin-bottom: 20px;
    border-bottom: 2px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
    text-align: center;
}

#alternativas{
    display: block;
}


.borda{
    border: 3px solid #f2f2f2;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
#bordaLogin{
    border-left: hidden;
}

.imagem{
    width: 100%;
}
#conteudoCadastro{
    padding-top: 20px;
}
.botao{
    width: 100%;
    font-size: 14px;
    color: white;
    margin-top: 10px;
}
#btnLogin{
    background-color: #66a3ff;
}
#btnLogin:hover{
    background-color: #80b3ff;
    color: white;
}
#btnSair{
    background-color: #ff6666;
}
#btnSair:hover{
    background-color: #ff8080;
    color: white;
}
#btnVoltar{
    background-color: #f9ff4d;
}
#btnVoltar:hover{
    background-color: #faff66;
    color: white;
}
#btnCadastrar{
    background-color: #ffbe66;
}
#btnCadastrar:hover{
    background-color: #ffca80;
    color: white;
}
#btnEnviar{
    background-color: #6dff66;
}
#btnEnviar:hover{
    background-color: #86ff80;
    color: white;
}

.nota{
    font-size: 60px;
}

#notaAlta{
    color: #33ff33;
}

#notaBaixa{
    color: #ff1a1a;
}
